---
import Accordion from "../ui/Accordion.astro";
import SectionTitle from "../ui/SectionTitle.astro";
import Section from "./Section.astro";

const description = "Conoce Nuestras Soluciones en Profundidad";
---

<Section id="SectionServicesAccordion" class="">
  <div class="mt-[50px]">
    <SectionTitle
      sectionTitle="Nuestros Servicios"
      description={description}
    />
    <Accordion />
  </div>
</Section>