---
import Form from "../ui/Form.astro";
import SectionTitle from "../ui/SectionTitle.astro";
import Section from "./Section.astro";
---

<Section id="contact">
  <div class="mt-[0px] mb-14 relative">
    <!-- <SectionTitle
      class="mb-4"
      sectionTitle="Contáctanos"
      description="Contáctanos hoy y hablemos de tu próximo proyecto."
    /> -->
    <Form />
  </div>
</Section>
