---
import { Image } from "astro:assets";
import Card from "@/components/ui/Card.astro";
import Section from "@/components/sections/Section.astro";
import Button from "@/components/ui/Button.astro";

import propImg from "@/assets/pics/cta.webp";
---

<Section>
  <div
    class="parallax-bg relative flex items-center justify-center w-screen left-1/2 right-1/2 -translate-x-1/2 min-h-[650px] md:min-h-[650px] rounded-[0] overflow-hidden mt-[80px] mb-[120px]"
  >
    <div class="absolute inset-0 bg-black/40"></div>
    <div
      class="relative z-10 w-full max-w-2xl px-6 py-16 md:py-24 flex flex-col items-center gap-6 text-white"
    >
      <h2
        class="text-3xl text-center md:text-4xl font-medium drop-shadow-lg text-white shadow-text gsap-fade-up"
      >
        Más de una década de experiencia garantizando proyectos eléctricos de
        vanguardia. <br />¿Cuál es tu próximo reto?
      </h2>
      <!-- <p class="text-base md:text-lg drop-shadow text-white">
        Contact us today to learn more about how our digital marketing
        services can help your business grow and succeed online.
      </p> -->
      <Button variant="secondary" href="#contact" class="mt-2 gsap-fade-up">
        Envíanos tu Proyecto
      </Button>
    </div>
  </div>
</Section>
<style>
  .parallax-bg {
    background-image: url("/src/assets/pics/cta.jpg");
    background-size: cover;
    background-position: bottom;
    background-repeat: no-repeat;
    background-attachment: fixed;
  }
  @media (max-width: 1024px) {
    .parallax-bg {
      background-attachment: scroll;
    }
  }
  .shadow-text {
    text-shadow:
      0 4px 24px #000,
      0 2px 8px #000,
      0 1px 2px #000;
  }
</style>
