---
import { Image } from "astro:assets";
import s1 from "@/assets/company/company-logo1.png";
import s2 from "@/assets/company/company-logo2.png";
import s3 from "@/assets/company/company-logo3.png";
import s4 from "@/assets/company/company-logo4.png";
import s5 from "@/assets/company/company-logo5.png";
import Section from "@/components/sections/Section.astro";

const sponsors = [
  { logo: s5, alt: "Erazo Valencia logo" },
  { logo: s4, alt: "Instituto Caro y Cuervo logo" },
  { logo: s3, alt: "Hospital Militar Central logo" },
  { logo: s1, alt: "Aeronautica Civil logo" },
  { logo: s2, alt: "People Contact logo" },
];

// Duplicamos los logos para asegurar el loop infinito sin saltos
const infiniteSponsors = [...sponsors, ...sponsors];
---

<Section id="sponsors">
  <div class="pt-16 pb-10 flex flex-col items-center overflow-hidden">
    <h2 class="text-center pb-12 text-xl font-medium text-black">
      Nuestros Clientes Destacados
    </h2>

    <div class="relative w-full">
      <!-- Gradients for fade effect on logic -->
      <div
        class="absolute inset-y-0 left-0 w-12 sm:w-32 z-10 bg-gradient-to-r from-white to-transparent pointer-events-none"
      >
      </div>
      <div
        class="absolute inset-y-0 right-0 w-12 sm:w-32 z-10 bg-gradient-to-l from-white to-transparent pointer-events-none"
      >
      </div>

      <div class="flex w-max animate-infinite-scroll hover:pause-animation">
        {
          infiniteSponsors.map((sponsor, index) => {
            return (
              <div class="mx-5 sm:mx-10 lg:mx-16 flex items-center justify-center grayscale opacity-50 transition-all duration-300 hover:grayscale-0 hover:scale-110 hover:opacity-100  ">
                <Image
                  src={sponsor.logo}
                  class="h-20 sm:h-28 w-auto object-contain max-w-none"
                  alt={sponsor.alt}
                  loading={index < 5 ? "eager" : "lazy"}
                />
              </div>
            );
          })
        }
      </div>
    </div>
  </div>
</Section>

<style>
  @keyframes scroll {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-50%);
    }
  }

  .animate-infinite-scroll {
    animation: scroll 30s linear infinite;
  }

  .hover\:pause-animation:hover {
    animation-play-state: paused;
  }
</style>
