---
import { Image } from "astro:assets";
import s1 from "../../assets/company/company-logo1.png";
import s2 from "../../assets/company/company-logo2.png";
import s3 from "../../assets/company/company-logo3.png";
import s4 from "../../assets/company/company-logo4.png";
import s5 from "../../assets/company/company-logo5.png";
import Section from "./Section.astro";

const sponsors = [
  { logo: s5, alt: "Erazo Valencia logo" },
  { logo: s4, alt: "Instituto Caro y Cuervo logo" },
  { logo: s3, alt: "Hospital Militar Central logo" },
  { logo: s1, alt: "Aeronautica Civil logo" },
  { logo: s2, alt: "People Contact logo" },
];
---

<Section id="sponsors">
  <div class="pt-16 pb-10 flex-row items-center">
    <h2 class="text-center pb-6">Nuestros Clientes Destacados</h2>
    <div class="flex flex-wrap justify-evenly items-center sm:grid sm:grid-cols-5 md:grid-cols-5">
      {
        sponsors.map((sponsor) => {
          return (
            <div class="p-4 grayscale transition duration-200 hover:grayscale-0">
              <Image
                src={sponsor.logo}
                class="max-h-24 sm:max-h-24 w-full object-contain mx-auto"
                alt={sponsor.alt}
                loading="lazy"
              />
            </div>
          );
        })
      }
    </div>
  </div>
</Section>
