---
import { Image } from "astro:assets";
import MainLayout from "@/layouts/MainLayout.astro";
import Sponsors from "@/components/sections/Sponsors.astro";
import imageMain from "@/assets/pics/about1.webp";
import imageTwo from "@/assets/pics/about2.webp";
import imageThree from "@/assets/pics/about3.webp";
---

<MainLayout title="Sobre Nosotros">
  <main class="space-y-20">
    <div class="pt-36 pb-10 px-6 mx-auto max-w-screen-xl lg:py-20 lg:px-16">
      <div class="relative flex flex-col-reverse items-center" id="main">
        <div class="row items-center py-5 md:pt-10">
          <div class="text-center space-y-10 mb-8">
            <h1
              class="text-3xl font-extrabold leading-none md:text-4xl gsap-fade-up"
            >
              Sobre Nosotros
            </h1>
            <p
              class="mt-6 mb-8 text-xl font-normal leading-7 sm:mb-12 gsap-fade-up"
            >
              Una década de experiencia, innovación y compromiso impulsando <br
              /> el desarrollo de la industria y el comercio.
            </p>
            <div
              class="grid grid-cols-3 sm:grid-cols-3 md:grid-cols-3 gap-2 sm:gap-6 gsap-fade-up"
            >
              <picture>
                <Image
                  class="w-full h-[300px] sm:h-[400px] object-cover rounded-lg shadow-lg"
                  src={imageMain}
                  alt="WT Ingelec Services 1"
                />
              </picture>
              <picture>
                <Image
                  class="w-full h-[300px] sm:h-[400px] object-cover rounded-lg shadow-lg"
                  src={imageTwo}
                  alt="WT Ingelec Services 2"
                />
              </picture>
              <picture>
                <Image
                  class="w-full h-[300px] sm:h-[400px] object-cover rounded-lg shadow-lg"
                  src={imageThree}
                  alt="WT Ingelec Services 3"
                />
              </picture>
            </div>
          </div>
          <div class="text-left space-y-10 pb-8 pt-10">
            <h2
              class="text-2xl font-medium leading-none md:text-3xl gsap-fade-up"
            >
              Nuestra Historia y Propósito
            </h2>
            <p class="mt-6 mb-8 font-normal leading-7 sm:mb-12 gsap-fade-up">
              WT Ingelec SAS fue fundada en 2014 con el firme propósito de
              atender las necesidades específicas de los sectores industrial y
              comercial en Colombia. Desde nuestros inicios, nos hemos enfocado
              en ofrecer soluciones integrales de alta calidad en montajes
              eléctricos, automatización, control de procesos, modernización de
              plantas, diseños, asesorías y legalización de proyectos. Hemos
              evolucionado para proveer un servicio integral en la gestión de
              proyectos, ingeniería, suministro y construcción de diversas obras
              eléctricas, siempre alineados con las normas y reglamentos
              nacionales e internacionales.
            </p>
          </div>
          <div class="w-[90dvw] p-none flex justify-center">
            <Sponsors />
          </div>
          <div class="text-left space-y-10 pb-8 py-10">
            <h2
              class="text-2xl font-medium leading-none md:text-3xl gsap-fade-up"
            >
              Nuestra Misión
            </h2>
            <p class="mt-4 mb-8 font-normal leading-7 sm:mb-12 gsap-fade-up">
              Generar soluciones de ingeniería que se traduzcan en mayor
              productividad, eficiencia, confiabilidad y menores costos de
              mantenimiento para nuestros clientes.
            </p>
          </div>
          <div class="text-left space-y-10 pb-8 py-10">
            <h2
              class="text-2xl font-medium leading-none md:text-3xl gsap-fade-up"
            >
              Nuestra Visión
            </h2>
            <p class="mt-4 mb-8 font-normal leading-7 sm:mb-12 gsap-fade-up">
              Proyectarnos como una firma líder en ingeniería y servicios a
              nivel nacional, reconocida por nuestra excelencia, capacidad
              innovadora y el valor que aportamos al desarrollo de nuestros
              clientes y del sector.
            </p>
          </div>
          <div class="text-left space-y-10 pb-8 py-10">
            <h2
              class="text-2xl font-medium leading-none md:text-3xl gsap-fade-up"
            >
              Nuestros Valores
            </h2>
            <ul class="list-disc space-y-4 pl-6 gsap-fade-up">
              <li>
                <strong>Calidad de Excelencia:</strong> Nuestro compromiso inquebrantable
                con los más altos estándares en cada proyecto y servicio que ofrecemos.
              </li>
              <li>
                <strong>Innovación Constante:</strong> Nos mantenemos a la vanguardia
                tecnológica, actualizando equipos y capacitando a nuestro personal
                para ofrecer soluciones de última generación.
              </li>
              <li>
                <strong>Integridad y Respeto:</strong> Actuamos con ética y profesionalismo
                en todas nuestras interacciones, fomentando relaciones basadas en
                la confianza.
              </li>
              <li>
                <strong>Lealtad y Compromiso:</strong> Dedicación total a los objetivos
                de nuestros clientes, trabajando con pasión y responsabilidad para
                superar sus expectativas.
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </main>
</MainLayout>
