---
import Footer from "@/components/ui/Footer.astro";
import Navbar from "@/components/ui/Navbar.astro";
import MainHead from "@/layouts/MainHead.astro";
import Snow from "@/components/effects/Snow.astro";
import "@/styles/global.css";

const { ...props } = Astro.props;
---

<html lang="es">
  <MainHead {...props} />
  <style>
    html.lenis {
      height: auto;
    }
    .lenis.lenis-smooth {
      scroll-behavior: auto;
    }
    .lenis.lenis-smooth [data-lenis-prevent] {
      overscroll-behavior: contain;
    }
    .lenis.lenis-stopped {
      overflow: hidden;
    }
  </style>
  <script src="../utils/lenis.js"></script>
  <script>
    import { initAnimations } from "../utils/animations.ts";
    document.addEventListener("DOMContentLoaded", () => {
      initAnimations();
    });
  </script>
  <body class="bg-white font-grotesk">
    <!-- Google Tag Manager (noscript) -->
    <noscript
      ><iframe
        src="https://www.googletagmanager.com/ns.html?id=GTM-57JGW58L"
        height="0"
        width="0"
        style="display:none;visibility:hidden"></iframe></noscript
    >
    <!-- End Google Tag Manager (noscript) -->
    <main>
      <Navbar />
      <slot />
      <Footer />
    </main>
    <!-- <Snow /> -->
  </body>
</html>
